# Ignore node_modules everywhere
node_modules

# Ignore logs
logs
*.log

# Ignore dotenv files
.env
.env.*

# Ignore build outputs
build/
dist/
server/public/

# Ignore OS/system files
.DS_Store
Thumbs.db
